$breakpoints: (
  "xsm":
    "screen and (max-width: 380px), (max-width:550px) and (max-height: 750px)",
  "sm": "screen and (max-width: 767px)",
  "md": "screen and (max-width: 992px)",
  "mdt": "screen and (max-width: 992px) and (orientation: portrait)",
  "lg": "screen and (max-width: 1199px)",
  "xl": "screen and (min-width: 1200px)",
) !default;
